:root {
   --open-sans: "Open Sans", sans-serif;
   --nunito-sans: "Nunito Sans", sans-serif;

   --accent-light: #FBB731;
   --accent-dark: #F37335;
   --dark: #443737;
   --light: #FFFFFF;
   --light-rgb: 255, 255, 255;


}
body {
    font-family: var(--open-sans)   
}
a {
    text-decoration: none;
}
.container {
    width: 100%;
    max-width: 1182px;
    margin: 0 auto;
}

/* header */

.header {
    border-bottom: 1px solid rgb(222, 222, 222);
}

.header-wrapper {
    display: flex;
    align-items: center;
    gap: 196px;
    padding-top: 26px;
    padding-bottom: 26px;
}
.logo {
    display: block;
    width: 176px;
    height: 56px;;
    background-image: url(../images/logo.svg);
    background-repeat: no-repeat;
    background-size: contain;  
}
.nav {
    flex-grow: 1;
    display: flex;
    gap: 47px;
}
.nav-link {
    color: var(--dark);
    font-size: 20px;
    font-weight: 600;
}
.nav-link::after {
    content: '';
    display: block;
    width: 100%;
    height: 3px;
    background-color: transparent;
    border-radius: 1.5px;
}
.nav-link:hover:after {
    background-color: var(--accent-light);
}
.cart {
    display: flex;
    align-items: center;
    gap: 10px;
    color: var(--dark);
    font-size: 15px;
    font-weight: 700;
    position: relative;
}
.cart::before {
    content: '';
    display: block;
    width: 30px;
    height: 26px;
    background-image: url(../images/cart.svg);
    background-repeat: no-repeat;
    background-size: contain;
}
.cart-count {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 17px;
    height: 17px;
    font-size: 10px;
    color: var(--light);
    background-color: var(--accent-dark);
    border-radius: 100%;
    position: absolute;
    left: 17px;
    bottom: 0px;
}

/* hero */
.hero {
    background-image: url(../images/hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    text-align: center;
    padding-top: 142px;
    padding-bottom: 142px;
}
.breadcrumbs {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    list-style-type: none;
    padding-left: 0px;
    color: rgba(var(--light-rgb), 0.5);
    font-size: 15px;
    margin-top: 0;
    margin-bottom: 0
;
}
.breadcrumbs-item {
    position: relative;
}

.breadcrumbs-item:not(:last-child)::after {
content: '/';
position: absolute;
right: -11px;
}
.breadcrumbs-item:last-child {
right: 1px;
}
.breadcrumbs-link {
    color: rgba(var(--light-rgb), 0.5);
    position: relative;
    left: 1px;    
}
.breadcrumbs-link:hover {
    color: var(--accent-light);
}
.hero-title {
    color: var(--light);
    font-family: var(--nunito-sans);
    font-size: 79px;
    font-weight: 700;
    text-transform: capitalize;
    margin-top: 20px;
    margin-bottom: 18px;
    ;
}
.hero-description {
    max-width: 320px;
    margin: 0 auto;
    color: rgba(var(--light-rgb), 0.8);
    font-size: 15px;
    line-height: 160%;
}


/* Banner */

.banner {
    margin-top: 140px;
}
.banner-wrapper {
    background-image: url(../images/banner.jpg);
    background-repeat: no-repeat;
    padding: 100px;
}

.banner-title span {
    display: block;
    width: 95px;
    height: 28px;
    background-color: var(--accent-dark);
    border-radius: 14px;
    color: var(--light);
    font-family: var(--open-sans);
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
    align-content: center; 
    margin-bottom: 8px;
}
.banner-title {
    font-family: var(--nunito-sans);
    font-size: 60px;
    font-weight: 900;
    color: var(--light);
    text-align: left;
    align-content: center;
    margin: auto;
}
.banner-description{
    font-size: 15px;
    color: rgba(var(--light-rgb), 0.8);
    max-width: 320px;
    max-height: 48px;
    line-height: 24px;
   
}
.banner-btn {
    width: 170px;
    height: 58px;
    background-color: var(--accent-light);
    border: 0px;
    border-radius: 5px;
    color: var(--dark);
    font-family: var(--nunito-sans);
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    
}

/* Menu */

.menu-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 100px;
    margin-bottom: 34px;
}
.menu-title {
    margin-top: 0;
    margin-bottom: 0;
    font-family: var(--nunito-sans);
    font-size: 44px;
    font-weight: bold;
    color: var(--dark);
    text-transform: uppercase;

}
.menu-box {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    gap: 50px 20px;
    margin-bottom: 100px;
}
.menu-tumb {
  width: 100%;
  height: 430px;
  position: relative;
  overflow: hidden;
}
.menu-tumb img {
    width: 100%;
    height: auto;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    object-fit: cover;
}
select {
    max-width: 279px;
    max-height: 44px;
    box-sizing: border-box;
    border: 1px solid rgb(222, 222, 222);
    border-radius: 22px;  
    padding-left: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.menu-name {
    font-family: var(--nunito-sans);
    font-weight: 600;
    font-size: 30px;
    color: var(--dark);
    text-align: center;
    margin-top: 20px;
    margin-bottom: 5px;
}
.menu-price {
    font-family: var(--nunito-sans);
    font-weight: bold;
    font-size: 20px;
    color: rgba(68, 55, 55, 0.5);
    text-align: center;
    margin-top: 0px;
    margin-bottom: 20px;
}
.menu-btn {
    display: block;
    width: 152px;
    height: 38px;
    border: 0;
    border-radius: 5px;
    background-color: var(--accent-light);
    color: var(--dark);
    font-family: var(--nunito-sans);
    font-size: 14px;
    font-weight: bold;
    margin: 0 auto;
    display: block;
    text-transform: uppercase;
    text-align: center;
}
.menu-btn img {
    width: 18px;
    height: 18px;
    margin-right: 12px;
}
.menu-box-additionally {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    gap: 50px 20px;
    margin-bottom: 140px;
}
.footer {
    background-color: #1E2F40;
    height: 403px;
}
.footer-wrapper {
    display: flex;
    justify-content: space-between;
    padding-top: 117px;
}
.footer-logo {
    width: 63px;
    height: 56px;
}
.footer-title {
    font-family: var(--nunito-sans);
    font-size: 20px;
    font-weight: 800;
    text-transform: uppercase;
    color: var(--light);
    margin: 0;
    padding-bottom: 12px;
}
.footer-nav {
    display: block;
    padding: 9px 0px;
    font-family: var(--open-sans);
    font-size: 15px;
    color: var(--light);
}
.footer-list{
    display: block;
    font-family: var(--open-sans);
    font-size: 15px;
    font-weight: 700;
    line-height: 160%;
    color: var(--light);
    list-style-type: none;
    padding: 0px;
}
.footer-list span {
    display: block;
    font-weight: 400;
    padding-bottom: 2px;
}
.footer-list li {
    padding-bottom: 12px ;
}
.footer-tel {
    display: block;
    font-family: var(--nunito-sans);
    font-weight: 800;
    font-size: 20px;
    line-height: 190%;
    text-transform: uppercase;
    color: var(--accent-light);
    padding: 2px;
}

