:root {
   --open-sans: "Open Sans", sans-serif;
   --nunito-sans: "Nunito Sans", sans-serif;

   --accent-light: #FBB731;
   --accent-dark: #F37335;
   --dark: #443737;
   --light: #FFFFFF;
   --light-rgb: 255, 255, 255;
   --tr: .2;


}
body {
    font-family: var(--open-sans)   
}
a {
    text-decoration: none;
}
.container {
    width: 100%;
    max-width: 1182px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box;
}

/* header */

.header {
    border-bottom: 1px solid rgb(222, 222, 222);
}

.header-wrapper {
    display: flex;
    align-items: center;
    gap: 57px;
    padding-top: 26px;
    padding-bottom: 26px;
}
.logo {
    display: block;
    width: 176px;
    height: 56px;;
    background-image: url(../images/logo.svg);
    background-repeat: no-repeat;
    background-size: contain;  
}
.nav {
    flex-grow: 1;
    display: flex;
    gap: 47px;
    margin-left: min(10vw, 140px);
}
.nav-link {
    color: var(--dark);
    font-size: 20px;
    font-weight: 600;
}
.nav-link::after {
    content: '';
    display: block;
    width: 100%;
    height: 3px;
    background-color: transparent;
    border-radius: 1.5px;
}
.nav-link:hover:after {
    background-color: var(--accent-light);
}
.cart {
    display: flex;
    align-items: center;
    gap: 10px;
    color: var(--dark);
    font-size: 15px;
    font-weight: 700;
    position: relative;
}
.cart::before {
    content: '';
    display: block;
    width: 30px;
    height: 26px;
    background-image: url(../images/cart.svg);
    background-repeat: no-repeat;
    background-size: contain;
}
.cart-count {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 17px;
    height: 17px;
    font-size: 10px;
    color: var(--light);
    background-color: var(--accent-dark);
    border-radius: 100%;
    position: absolute;
    left: 17px;
    bottom: 0px;
}
.button-up {
        max-width: 80px;
        position: fixed;
        right: 10px;
        bottom: 10px;
        text-align: center;
        font-size: 14px;
        font-family: var(--nunito-sans);
        font-weight: 700;
        padding: 5px 10px;
        text-transform: uppercase;
        text-decoration: none;
        color:#1E2F40;
        background-color: var(--accent-light);
        border: none;
        border-radius: 5px; 
        transition: var(--tr);
    }
.button-up:hovers {
        background-color: var(--accent-dark);
    } 
.button-up.hidden {
    opacity: 0;
}
.button-up.visible {
    opacity: 1;
}


/* hero */
.hero {
    background-image: url(../images/hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    text-align: center;
    padding-top: 142px;
    padding-bottom: 142px;
}
.hero-contact {
    background-image: url(../images/hero-contact.jpg);
}
.breadcrumbs {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    list-style-type: none;
    padding-left: 0px;
    color: rgba(var(--light-rgb), 0.5);
    font-size: 15px;
    margin-top: 0;
    margin-bottom: 0
;
}
.breadcrumbs-item {
    position: relative;
}

.breadcrumbs-item:not(:last-child)::after {
content: '/';
position: absolute;
right: -11px;
}
.breadcrumbs-item:last-child {
right: 1px;
}
.breadcrumbs-link {
    color: rgba(var(--light-rgb), 0.5);
    position: relative;
    left: 1px;    
}
.breadcrumbs-link:hover {
    color: var(--accent-light);
}
.hero-title {
    color: var(--light);
    font-family: var(--nunito-sans);
    font-size: 79px;
    font-weight: 700;
    text-transform: capitalize;
    margin-top: 20px;
    margin-bottom: 18px;
    ;
}
.hero-description {
    max-width: 320px;
    margin: 0 auto;
    color: rgba(var(--light-rgb), 0.8);
    font-size: 15px;
    line-height: 160%;
}


/* Banner */

.banner {
    margin-top: 140px;
}
.banner-wrapper {
    background-image: url(../images/banner.jpg);
    background-repeat: no-repeat;
    padding: 100px;
}

.banner-title span {
    display: block;
    width: 95px;
    height: 28px;
    background-color: var(--accent-dark);
    border-radius: 14px;
    color: var(--light);
    font-family: var(--open-sans);
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
    align-content: center; 
    margin-bottom: 8px;
}
.banner-title {
    font-family: var(--nunito-sans);
    font-size: 60px;
    font-weight: 900;
    color: var(--light);
    text-align: left;
    align-content: center;
    margin: auto;
}
.banner-description{
    font-size: 15px;
    color: rgba(var(--light-rgb), 0.8);
    max-width: 320px;
    max-height: 48px;
    line-height: 24px;
   
}
.banner-btn {
    display: block;
    max-width: 170px;
    text-align: center;
    font-size: 14px;
    font-family: var(--nunito-sans);
    font-weight: 700;
    padding: 22px 0px;
    text-transform: uppercase;
    text-decoration: none;
    color:#1E2F40;
    background-color: var(--accent-light);
    border: none;
    border-radius: 5px; 
    transition: var(--tr);
}
.banner-btn:hover {
    background-color: var(--accent-dark);
}

/* Menu */

.menu-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 100px;
    margin-bottom: 34px;
}
.menu-title {
    margin-top: 0;
    margin-bottom: 0;
    font-family: var(--nunito-sans);
    font-size: 44px;
    font-weight: bold;
    color: var(--dark);
    text-transform: uppercase;

}
.menu-box {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    gap: 50px 20px;
    margin-bottom: 100px;
}
.menu-tumb {
  width: 100%;
  height: 430px;
  position: relative;
  overflow: hidden;
}
.menu-tumb img {
    width: 100%;
    height: auto;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    object-fit: cover;
}
select {
    max-width: 279px;
    max-height: 44px;
    box-sizing: border-box;
    border: 1px solid rgb(222, 222, 222);
    border-radius: 22px;  
    padding-left: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.menu-name {
    font-family: var(--nunito-sans);
    font-weight: 600;
    font-size: 30px;
    color: var(--dark);
    text-align: center;
    margin-top: 20px;
    margin-bottom: 5px;
}
.menu-price {
    font-family: var(--nunito-sans);
    font-weight: bold;
    font-size: 20px;
    color: rgba(68, 55, 55, 0.5);
    text-align: center;
    margin-top: 0px;
    margin-bottom: 20px;
}
.menu-btn {
    display: block;
    width: 152px;
    height: 38px;
    border: 0;
    border-radius: 5px;
    background-color: var(--accent-light);
    color: var(--dark);
    font-family: var(--nunito-sans);
    font-size: 14px;
    font-weight: bold;
    margin: 0 auto;
    display: block;
    text-transform: uppercase;
    text-align: center;
    transition: var(--tr);
}
.menu-btn:hover {
    background-color: var(--accent-dark);
}
.menu-btn img {
    width: 18px;
    height: 18px;
    margin-right: 12px;
}
.menu-box-additionally {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    gap: 50px 20px;
    margin-bottom: 140px;
}
.footer {
    background-color: #1E2F40;
    max-height: 403px;
}
.footer-wrapper {
    display: flex;
    justify-content: space-between;
    padding-top: 117px;
    padding-bottom: 119px;
    gap: 15px;
}
.footer-logo {
    width: 63px;
    height: 56px;
}
.footer-title {
    font-family: var(--nunito-sans);
    font-size: 20px;
    font-weight: 800;
    line-height: 190%;
    text-transform: uppercase;
    color: var(--light);
    margin: 0;
    padding-bottom: 12px;
}
.footer-nav {
    display: flex;
    flex-direction: column;
    gap: 9px;
}
.footer-link {
    font-family: var(--open-sans);
    font-size: 15px;
    color: rgba(var(--light-rgb), .9);
    line-height: 160%;
    transition: var(--tr);
}
.footer-link:hover {
    color: var(--accent-light);
}
.footer-list{
    list-style-type: none;
    padding: 0;
    margin: 0;
    
}
.footer-list-item {
    font-family: var(--open-sans);
    font-size: 15px;
    font-weight: 700;
    line-height: 160%;
    color: var(--light); 
}
.footer-list-item span {
    display: block;
    font-weight: 400;
    color: rgba(var(--light-rgb), .9);
}
.footer-list-item:not(:last-child) {
    margin-bottom: 14px;
}
.footer-item:last-child{
    flex-basis: 194px;
    text-align: right;
}
.footer-tel {
    display: block;
    font-family: var(--nunito-sans);
    font-weight: 800;
    font-size: 20px;
    line-height: 190%;
    text-transform: uppercase;
    color: var(--accent-light);
    transition: var(--tr);
}
.footer-tel._mobile {
    display: none;
    font-family: var(--nunito-sans);
    font-weight: 800;
    font-size: 20px;
    line-height: 190%;
    text-transform: uppercase;
    color: var(--accent-light);
    transition: var(--tr);
}

.footer-tel:hover {
    color: var(--light);
}
/* Contacts */

.contact-main {
    display: flex;
    align-items: center;
    gap: 20px;
    max-width: 1057px;
    margin: 140px auto 60px;
}

.contact-map {
    flex-basis: 680px;
}

.contact-adress {
    flex-basis: calc(100% - 680px - 20px);
    list-style-type: none;
    padding-left: 0;
}

.contact-adress > li:not(:last-child) {
    margin-bottom: 26px;
}

.contact-adress > li > span {
    display: block;
    font-size: 15px;
    line-height: 160%;
}

.contact-adress > li > span:first-child {
    font-family: var(--nunito-sans);
    font-size: 20px;
    font-weight: 700;
    line-height: 190%;
    text-transform: uppercase;
    margin-left: 3px;
    margin-bottom: 4px;
}

.contact-adress > li > span:last-child {
    font-weight: 700;
    margin-top: 10px;
}

.contact-additionally {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    max-width: 1057px;
    list-style-type: none;
    padding-left: 0;
    margin: 0 auto;
}

.contact-additionally > li {
    font-size: 15px;
    display: flex;
    align-items: center;
    gap: 15px;
}

.contact-additionally > li::before {
    content: '';
    display: block;
    width: 80px;
    height: 80px;
    background-repeat: no-repeat;
    background-size: cover;
}

.contact-additionally > li:nth-child(1):before {
    background-image: url(../images/contacts/01.svg);
}
.contact-additionally > li:nth-child(2):before {
    background-image: url(../images/contacts/02.svg);
}
.contact-additionally > li:nth-child(3):before {
    background-image: url(../images/contacts/03.svg);
}

.contact-info,
.contact-tel {
    display: block;
    color: var(--dark);
    font-family: var(--nunito-sans);
    font-size: 20px;
    font-weight: 700;
    line-height: 140%;
    margin-top: 5px;
}

.contact-tel {
    transition: var(--tr);
}

.contact-tel:hover {
    color: var(--accent-light);
}

/* Media */
@media (max-width: 1080px) {
   
    .header-wrapper {
        gap: 40px;
    }
    .nav {
        margin-left: 0;
        gap: min(3vw, 30px)
    } 
}
@media (max-width: 768px) {
    
    .logo {
        width: 150px;
        height: 47.81px;
    }
    .header-wrapper {
        gap: 45px;  
    }
    .nav {
        gap: 22px
    } 
    .banner {
        margin-top: 72px;
    }
    .banner-wrapper {
        padding: 100px 40px;
    }
    .menu-header {
        margin-top: 80px;
    }
    .menu-box {
        
        grid-template-columns: repeat(2, 1fr);
    }
    .menu-box-additionally {
        grid-template-columns: 1fr;
    }
    .menu-item._additionally {
        display: flex;
        align-items: center;
        gap: 20px;
    }
    .menu-item._additionally .menu-tumb {
        flex-basis: calc(60%-20px);
        height: 260px;
        margin-bottom: 0;
    }
    .menu-item._additionally .menu-info {
        flex-basis: 40%;
    }
    .footer-nav {
        margin-bottom: 20px;
    }
    .footer-tel._mobile {
        display: block;
        text-align: left;
    }
    .footer-item:last-child {
        display: none;
    }
    .footer-wrapper {
        padding-top: 62px;
        padding-bottom: 71px;
    }
}